<h1>Filme</h1>

<div class="row" ng-repeat="row in movies">

    <div ng-repeat="movie in row" class="col-md-3">
        <div class="thumbnail movie">
            <a href="#/movies/{{ movie.name }}">
                <img ng-if="movie.details.poster_path !== undefined && movie.details.poster_path != null"
                     ng-src="/images/w185/{{ movie.details.poster_path }}"/>
                <img ng-if="movie.details.poster_path === undefined || movie.details.poster_path == null"
                     src="/assets/images/blank_cover.png" class="movie-placeholder"/>
            </a>

            <div class="caption movie-caption">{{ movie.details.title || movie.name }}</div>
        </div>

    </div>

</div>