<!--
<ol class="breadcrumb">
    <li><a href="/#">Home</a></li>
    <li><a href="/#/movies">Filme</a></li>
    <li class="active">{{ movie.name}}</li>
</ol>
-->
<div class="row movie-details">
    <div class="col-md-4">
        <img ng-if="movie.details.poster_path !== undefined && movie.details.poster_path != null"
             ng-src="/images/w342/{{ movie.details.poster_path }}"/>

        <img ng-if="movie.details.poster_path === undefined || movie.details.poster_path === null"
             src="/assets/images/movie-film-roll.jpg" ng-cloak/>
    </div>
    <div class="col-md-8">
        <h3>{{ movie.name}}</h3>

        <div>Veröffentlichung: {{ movie.details.release_date | date: "dd.MM.yyyy" }}</div>
        <div>Bewertung: {{ movie.details.vote_average }}</div>
        <div>Genres:
            <span ng-repeat="genre in movie.details.genres">{{ genre.name }} {{ !$last ? ' / ' : ''}}</span>
        </div>
        <div>Laufzeit: {{movie.details.runtime}} Minuten</div>
        <div class="download">
            <a class="btn btn-default" ng-href="{{ movie.filePath }}">
                <span class="glyphicon glyphicon-download-alt"></span>
                Download
            </a>
        </div>
    </div>
</div>

<div class="movie-description">{{ movie.details.overview}}</div>