<div class="container-fluid container-movie-details"
     ng-style="backgroundImg">

    <div class="movie-details">
        <div class="row">
            <div class="col-md-2 col-md-offset-1">
                <img ng-if="tvShow.details.poster_path !== undefined && tvShow.details.poster_path != null"
                     ng-src="/images/w185{{ tvShow.details.poster_path }}"/>

                <img ng-if="tvShow.details.poster_path === undefined || tvShow.details.poster_path === null"
                     src="/assets/images/movie-film-roll.jpg" ng-cloak/>
            </div>
            <div class="col-md-7">
                <h3>{{ tvShow.details.name }}</h3>
                <div class="movie-description">{{ tvShow.details.overview }}</div>
                <div>
                    <span class="movie-info">Erste Ausstrahlung:</span>
                    {{ tvShow.details.first_air_date | date: "dd.MM.yyyy"}}
                </div>
                <div><span class="movie-info">Letzte Ausstrahlung:</span> {{ tvShow.details.last_air_date | date: "dd.MM.yyyy" }}</div>
                <div><span class="movie-info">Status:</span> {{ tvShow.details.status}}</div>
                <div><span class="movie-info">Bewertung:</span>
                    {{ tvShow.details.vote_average }} / 10 ({{ tvShow.details.vote_count }} Stimmen)
                </div>
                <div><span class="movie-info">Genres:</span>
                    <span ng-repeat="genre in tvShow.details.genres">{{ genre.name }} {{ !$last ? ' / ' : ''}}</span>
                </div>
            </div>
        </div>
    </div>


    <div class="row seasons">
        <div class="col-md-6 col-md-offset-1">
            <div class="panel-group seasons-panels" id="seasons">
                <div class="panel panel-default" ng-repeat="season in seasons" ng-show="season.episodes.length > 0">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#seasons" href="#episodes-{{ season.season_number}}"
                               class="collapsed">
                                Season {{ season.season_number }}
                            </a>
                        </h4>
                    </div>
                    <div id="episodes-{{ season.season_number}}" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div ng-repeat="ep in season.episodes">
                                <a ng-href="{{ ep.filePath }}" class="ep-download" target="_self">{{ ep.name }}</a>
                                ({{ ep.size | fileSize: 2}})
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>